<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>StudentRegister</display-name>
    <servlet-name>StudentRegister</servlet-name>
    <servlet-class>com.courseregister.Controller.StudentRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentRegister</servlet-name>
    <url-pattern>/StudentRegister</url-pattern>
  </servlet-mapping>
  <display-name>CourseRegistrations</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StudentDetails</display-name>
    <servlet-name>StudentDetails</servlet-name>
    <servlet-class>com.courseregister.Controller.StudentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDetails</servlet-name>
    <url-pattern>/StudentDetails</url-pattern>
  </servlet-mapping>
</web-app>